<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Access Record</title>
        <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    </head>
    <body>
        <h1>Welcome to MTV Testing Page!</h1>
        <h2>All Your Access Record!</h2>

        <div class="mtvclass">
                {% if acc_recs %}
                <table>
                    <thead>
                        <th>Access Site</th>
                        <th>Date</th>
                    </thead>
                    {% for acc in acc_recs %}
                    <tr>
                        <td>{{acc.name}}</td>
                        <td>{{acc.date}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h1>No Access Record!</h1>
                {% endif %}
        </div>
    </body>
</html>
